<ion-view view-title="Tentang Aplikasi">
    <ion-content>
        <img src="img/img-about.png" alt="" class="banner-general">
        <div class="pad10 text-center">
            <!-- <p class="thanks-text">terima kasih</p> -->
            <div class="thanks-info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste at asperiores
                    magnam debitis cupiditate fugiat exercitationem animi ut, aperiam officia,
                    tempora perspiciatis illum optio facilis praesentium. Beatae quidem illo quis.</p>
                <p class="">Powered by SuperKiosk</p>
            </div>
        </div>
    </ion-content>
</ion-view>