<ion-view view-title="Beranda" class="bar-stable">
	<ion-content>
		<div class="kondisi">
			<h4>Kondisi saya saat ini</h4>
			<img src="{{status_img}}" alt="">
			<div class="state">
				<h4 class="state-text">{{status}}</h4>
				<h6>Terakhir update {{last_update}} yang lalu</h6>
			</div>
		</div>
		<div class="row main-menu">
			<div class="col">
				<div class="menu-box" ui-sref="app.peta">
					<img src="img/icon-map.svg" alt="">
					<p>Lihat kondisi di sekitar saya</p>
				</div>
			</div>
			<div class="col">
				<div class="menu-box" ui-sref="app.update">
					<img src="img/icon-kondisi.svg" alt="">
					<p>Update status kesehatan saya</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>