<ion-view view-title="Gejala Covid-19">
    <ion-content>
        <img src="img/img-banner-gejala.png" alt="" class="banner-general">
        <div class="pad10">
            <p class="emergency-text text-center">darurat!</p>
            <div class="">
                <p class="text-center">
                    Anda memiliki gejala-gejala yang mirip dengan gejala positif terjangkit Virus Covid-19
                </p>
                <p>
                    Hal yang perlu Anda lakukan segera:
                </p>
                <ol class="olli-general">
                    <li>Lakukan isolasi dan beritahu orang terdekat Anda mengenai kondisi Anda saat ini tanpa
                        melakukan
                        interaksi fisik.
                    </li>
                    <li>Hubungi 112 atau nomor telephone rumah sakit langganan Anda untuk pertolongan darurat</li>
                </ol>
            </div>
            <a href="tel://112" class="button button-full button-positive button-general">
                Telephone 112
            </a>
        </div>
    </ion-content>
</ion-view>