<ion-view view-title="Peta">
    <ion-content scroll="false">
        
        <div id="mapSearch" style="display: flex;">
            <input id="pac-input" class="controls" type="text" placeholder="Pencarian alamat..." ng-model="dataLocation" ng-focus="disabledTap()">
            <a class="btn-close-cat button button-icon icon ion-close" ng-click="removeAddress()" style="margin-right: 15px;margin-top: 3px; color:red;"></a>
            <a class="button button-assertive button-icon button-icon-header icon ion-android-locate" ng-click="getNavigate()" style="position: absolute;color: red; bottom:115px; right: 22px; z-index: 1; border-radius: 40px; width: 45px; background-color: white;" ></a>
        </div>
        <div id="map" data-tap-disabled="true">
        </div>
        <div class="center-marker origin"></div>
        <button id="buttonSet" class="button button-energized button-full button-general button-green" type="submit" ng-click="setLocationOrigin()">Set Lokasi Disini</button>

    </ion-content>
</ion-view>