<ion-view view-title="Peta">
	<ion-content scroll="false">
		<div id="map" data-tap-disabled="true" style="position: relative; overflow: hidden;">
		</div>
		<div class="center-marker origin"></div>
		<!-- <div class="peta-marker">
<ul>
<li><img src="img/icon-myposition.svg" alt=""> <span class="peta-marker-text">Posisi Saya</span></li>
<li><img src="img/icon-posisiSehat.svg" alt=""> <span class="peta-marker-text">Sehat</span></li>
<li><img src="img/icon-posisiNegatif.svg" alt=""> <span class="peta-marker-text">Sakit. Tidak terkait Covid-19</span></li>
<li><img src="img/icon-posisiPositif.svg" alt=""> <span class="peta-marker-text">Sakit. Gejala Covid-19</span></li>
</ul>
</div> -->
	</ion-content>
	<div class="peta-marker">
		<ul>
			<li><img src="img/icon-myposition.svg" alt=""> <span class="peta-marker-text">Posisi Saya</span></li>
			<li><img src="img/icon-posisiSehat.svg" alt=""> <span class="peta-marker-text">Sehat</span></li>
			<li><img src="img/icon-posisiNegatif.svg" alt=""> <span class="peta-marker-text">Sakit. Tidak terkait
					Covid-19</span></li>
			<li><img src="img/icon-posisiPositif.svg" alt=""> <span class="peta-marker-text">Sakit. Gejala
					Covid-19</span></li>
		</ul>
	</div>
</ion-view>