<ion-view view-title="Registrasi">
	<ion-content class="pad10">
		<div class="intro">
			<p>
				Mari bekerja sama mencegah penyebaran virus Covid-19 dengan cara saling berbagi informasi tentang kondisi
				kesehatan dan lokasi Anda
			</p>
			<img src="img/img-01.png" alt="">
		</div>
		<div class="form-general">
			<div class="form-input">
				<input type="text" placeholder="Nama Lengkap" ng-model="formData.fullName">
			</div>
			<div class="row-flex">
				<div class="form-input umur">
					<input type="number" placeholder="Umur" ng-model="formData.age" >
				</div>
				<div class="form-input gender">
					<select ng-model="formData.gender" >
						<option value="" selected>Jenis Kelamin</option>
						<option value="male">Laki-laki</option>
						<option value="female">Perempuan</option>
					</select>
				</div>
			</div>
			<div class="form-input">
				<input type="text" placeholder="Kota Domisili" ng-model="formData.address" >
			</div>
			<div class="form-input">
				<input type="number" placeholder="No. Telephone yang bisa dihubungi" ng-model="formData.phoneNo">
			</div>
			<button class="button button-full button-positive button-general" ng-click="doRegister()">
				Registrasi
			</button>
		</div>
	</ion-content>
</ion-view>