<ion-view view-title="Sehat">
	<ion-content>
		<img src="img/img-banner-sehat.png" alt="" class="banner-general">
		<div class="pad10 text-center">
			<p class="thanks-text">terima kasih</p>
			<div class="thanks-info">
				<p>
					Untuk saat ini Anda tidak mengalami gejala-gejala yang terkait dengan virus Covid-19.
				</p>
				<p>
					Namun Anda tetap perlu menjaga jarak fisik dengan orang lain untuk mencegah penularan
					dan selalu update status kesehatan Anda di aplikasi ini
				</p>
			</div>
			<button class="button button-full button-positive button-general" ng-click="onClose()">
				Tutup
			</button>
		</div>
	</ion-content>
</ion-view>