<ion-view view-title="Gejala Covid-19">
    <ion-content>
        <img src="img/img-banner-gejala.png" alt="" class="banner-general">
        <div class="pad10">
            <p class="warning-text text-center">Waspada!</p>
            <div class="">
                <p class="text-center">
                    Anda memiliki gejala-gejala yang mirip dengan gejala positif terjangkit Virus Covid-19
                </p>
                <p>
                    Hal yang perlu Anda lakukan segera:
                </p>
                <ol class="olli-general">
                    <li>Beritahu orang terdekat anda mengenai kondisi anda saat ini dan tetap batasi interaksi fisik
                    </li>
                    <li>Minum obat dan vitamin untuk menjaga dan memperbaiki kondisi kesehatan Anda</li>
                    <li>Update kembali diaplikasi ini apabila kondisi Anda ada perubahan</li>
                </ol>
            </div>
            <button class="button button-full button-positive button-general" ng-click="onClose()">
                Tutup
            </button>
        </div>
    </ion-content>
</ion-view>