<ion-view view-title="Update Kondisi">
  <ion-content>
    <div class="form-update">
      <p class="update-text">Apakah Anda mengalami gejala sebagai berikut?</p>
      <ion-list>

        <ion-checkbox ng-model="formData.checkedCough">Batuk kering</ion-checkbox>
        <ion-checkbox ng-model="formData.checkedSneeze">Bersin-bersin</ion-checkbox>
        <ion-checkbox ng-model="formData.checkedTired">Nyeri otot, kelelahan</ion-checkbox>
        <ion-checkbox ng-model="formData.checkedFever">Demam/meriang</ion-checkbox>
        <ion-checkbox ng-model="formData.checkedBreath">Kesulitan bernafas</ion-checkbox>
      
      </ion-list>
      <button class="button button-full button-positive button-general" ng-click="doUpdate()">
				Update status
			</button>
    </div>
  </ion-content>
</ion-view>
