/* IMPORT */
@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

/* GENERAL */
html *
{
   font-family: 'Sarabun', sans-serif !important;
}

.pad10 {
    padding: 0 10px 0 10px;
}

.row-flex {
    display: flex;
}

ol.olli-general {
    list-style-type: decimal;
    padding-left: 18px;
}

.form-input.umur {
    width: 32%;
    margin-right: 10px;
}

.form-input.gender {
    width: 100%;
}

.bar-general {
    border-color: #0a9dc7;
    background-color: #6ECAFF !important;
    background-image: linear-gradient(0deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
    color: #fff;
}
.bar.bar-general .title {
    color: white;
    /* text-align: center; */
}

.form-input {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.form-input input[type="text"]::-webkit-input-placeholder {
    color:  #ccc;
}
.form-input input[type="number"]::-webkit-input-placeholder {
    color:  #ccc;
}


.form-input input[type="text"], .form-input input[type="number"], .form-input input[type="password"] {
    width:  100%;
    border: 2px solid #6ECAFF;
    border-radius: 20px;
    padding-left:  15px;
    padding-bottom: 4px;
}

.form-input select {
    position: relative;
    width:  100%;
    border: 2px solid #6ECAFF;
    border-radius: 20px;
    padding-left:  15px;
    height: 34px;
}

#map {
    width: 100%;
    height: 100%;
}

.title-pad5 {
    text-align: center;
    padding: 5px;
}

.form-update {
    padding: 10px;
}

p.boldtext {
    font-weight: bold;
}

.form-update .item {
    border: none;
}

/* BUTTON */
.button-general {
    border-radius: 25px;
    background-color: #6ECAFF !important;
}

.button-general.activated {
    color: white !important;
    background-color: #5db8ec !important;
}

/* CHECKBOX */
.form-general .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #6ecaff;
    border-color: #6ecaff;
}

/* BERANDA */
.kondisi {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 15px 0 16px;
    border: 2px solid #6ecaff;
    border-radius: 9px;
}
.kondisi img {
    width: 60%;
}

.state {
    /* padding: 10px; */
}
.state h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #0DCE00;
}
.state h6 {
    margin: 0;
    color: orange;
    font-style: italic;
}

.main-menu {
    padding: 5px 10px 0 10px;
}

.menu-box {
    text-align: center;
    border: 2px solid #6ecaff;
    border-radius: 8px;
    padding: 5px;
    min-height: 140px;
}
.menu-box img {
    width: 80px;
}

.menu-box p {
    line-height: 1;
}

/* REGISTRASI */
.intro {
    text-align: center;
    padding-top: 20px;
}
.intro img {
    width: 50%;
}
.intro p {
    color: #444;
}

/* PETA */
span.peta-marker-text {
    font-weight: bold;
}

.peta-marker li {
    padding: 0px 0 0px 5px;
}
.peta-marker li img {
    margin-bottom: -3px;
    margin-right: 5px;
}

.peta-marker {
    position: absolute;
    bottom: 25px;
}

/* UPDATE KONDISI */
p.update-text {
    font-weight: bold;
    font-size: 16px;
    color: #444;
}

/* SEHAT */
p.thanks-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #0DCE00;
    margin-top: 20px;
}

p.warning-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: orange;
    margin-top: 20px;
}

p.emergency-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-top: 20px;
}

/* ABOUT */
img.banner-general {
    width: 100%;
}